<div class="modal fade" id="add" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">@ConfirmMessage</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (!ShowSuccessMessage)
                {
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Picture Url</span>
                        <input type="text" class="form-control" placeholder="Add Picture URL" @bind="@NewProduct!.PictureUrl" aria-label="Add Picture URL" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-3">
                        <p>Select Car Model</p>
                        <select class="form-select" @bind="NewProduct.ModelId" aria-label="Default select example">
                            <option selected>@NewProduct!.ModelId</option>
                            @foreach (var model in Service!.Models)
                            {
                                if (NewProduct.ModelId != model.Id)
                                {
                                    <option value="@model.Id">@model.ModelName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Car Brand</span>
                        <input type="text" class="form-control" placeholder="Add Car Brand" @bind="@NewProduct.BrandId" aria-label="Add Car Brand" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon4">Year</span>
                        <input type="text" class="form-control" placeholder="Add Year" aria-label="Add Year" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon4">Description</span>
                        <input type="text" class="form-control" placeholder="Add Description" aria-label="Add Description" aria-describedby="addon-wrapping">
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        Product Added successfully!
                    </div>
                }
            </div>
            <div class="modal-footer">
                @if (!ShowSuccessMessage)
                {
                    <button type="button" class="btn btn-primary" @onclick="() => AddProduct()">ADD</button>
                }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Service")] public UIAdminService? Service { get; set; }

    public string? ConfirmMessage { get; set; }
    public CarPostDTO? NewProduct { get; set; }
    public bool ShowSuccessMessage { get; set; }
    [Parameter]
    public EventCallback<CarGetDTO> ProductAdded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            await Service.GetModelsAsync();
        }
    }

    private async Task AddProduct()
    {
        await Service!.AddProductAsync(NewProduct!);
        ShowSuccessMessage = true;
        await ProductAdded.InvokeAsync();
        NewProduct = null;
        StateHasChanged();
    }

    public async Task ShowAddConfirmation()
    {
        ShowSuccessMessage = false;
        ConfirmMessage = "Add a Product";
        await ProductAdded.InvokeAsync();
        StateHasChanged(); // Add this line
    }
}
