﻿﻿<aside id="aside-menu" class="d-flex flex-column m-2 ms-0 mt-0 p-2 pt-0 vh-100" style="min-width: 160px; max-width: 200px;">
	    <div class="ps-3">
        <h6 class="font-weight-semibold">Admin Options</h6>
        <ul class="list-unstyled">
            <div class="button-container">
                <button class="category mb-1" style="background: none; border: none; padding: 0; cursor: pointer;" @onclick="OnClick">
                    View Cars
                </button>
            </div>
            <div class="button-container">
                <button class="category mb-1" style="background: none; border: none; padding: 0; cursor: pointer;" @onclick="OnClick">
                    Add Car
                </button>
            </div>
            <div class="button-container">
                <button class="category mb-1" style="background: none; border: none; padding: 0; cursor: pointer;" @onclick="OnClick">
                    Edit Car
                </button>
            </div>
            <div class="button-container">
                <button class="category mb-1" style="background: none; border: none; padding: 0; cursor: pointer;" @onclick="OnClick">
                    Remove Car
                </button>
            </div>
        </ul>
    </div>
    <span class="border-bottom"></span>
</aside>

@code {
    void OnClick(){

    }
}
