﻿<header class="d-flex justify-content-between align-items-center px-5 pt-2 mx-5">
    <div class="d-flex justify-content-between align-items-center">
        <img src="Images/logo.png" alt="logo" class="rounded-circle" width="75px" />
        <h2 class="ps-3">eShop Admin Panel</h2>
    </div>
</header>

@code {

}
