@page "/"
@inject UIAdminService Service

<PageTitle>Home</PageTitle>

<HeaderComponent />
<section id="viewport" class="py-2 vh-100">
    <div class="d-flex shadow-lg p-3 mx-5">
        <div class="flex-shrink-1 me-4">
        <CascadingValue Value="Service" Name="Service">
            <!-- Sidebar -->
            <div class="flex-shrink-1 me-4">
                <Asidecomponent OnChange="OnChange" />
            </div>
        </CascadingValue>
        </div>
    </div>
</section>

@code {
    void OnChange()
    {

    }
}
