@using eShop.UI.Models.Link

<div class="ps-3">
    <h6 class="font-weight-semibold">Category</h6>
    <ul class="list-unstyled">
        @foreach (var link in LinkGroup!.LinkOptions)
        {
            <LinkComponent LinkOption="link"/>
        }
    </ul>
</div>

@code {
    [Parameter] public LinkGroup? LinkGroup { get; set; }
}
