<!-- Sidebar -->
﻿﻿<aside id="aside-menu" class="d-flex flex-column m-2 ms-0 mt-0 p-2 pt-0 vh-100" style="min-width: 160px; max-width: 200px;">
    @foreach (var group in Service!.CaregoryLinkGroups)
    {
        <LinkMainComponent LinkGroup="group" OnAsideCall="OnAsideCallback" />
    }
    <div class="p-3">
        <h6 class="font-weight-semibold">Model</h6>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="model1">
            <label class="form-check-label" for="model1">
                XC40
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="model2">
            <label class="form-check-label" for="model2">
                XC60
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="model3">
            <label class="form-check-label" for="model3">
                X3
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="model4">
            <label class="form-check-label" for="model4">
                Model S
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="model5">
            <label class="form-check-label" for="model5">
                Model X
            </label>
        </div>
        <!-- Repeat for each Model -->
    </div>
    <span class="border-bottom"></span>
    <div class="p-3">
        <h6 class="font-weight-bolder">Brand</h6>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="brand1">
            <label class="form-check-label" for="brand1">
                Volvo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="brand2">
            <label class="form-check-label" for="brand2">
                BMW
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="brand3">
            <label class="form-check-label" for="brand3">
                Audi
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="brand4">
            <label class="form-check-label" for="brand4">
                Tesla
            </label>
        </div>
        <!-- Repeat for each brand -->
    </div>
    <span class="border-bottom"></span>
    <div class="p-3">
        <h6 class="font-weight-semibold">Fuel</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="fuelOption" id="fuel1" value="option1" checked>
            <label class="form-check-label" for="fuel1">
                Gasoline
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="fuelOption" id="fuel2" value="option2" checked>
            <label class="form-check-label" for="fuel2">
                Diesel
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="fuelOption" id="fuel3" value="option3" checked>
            <label class="form-check-label" for="fuel3">
                Hybrid
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="fuelOption" id="fuel4" value="option4" checked>
            <label class="form-check-label" for="fuel4">
                Electric
            </label>
        </div>
        <!-- Repeat for each size -->
    </div>
    <span class="border-bottom"></span>
    <div class="p-3">
        <h6 class="font-weight-semibold">Colour</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="colourOptions" id="colour1" value="option1" checked>
            <label class="form-check-label" for="colour1">
                White
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="colourOptions" id="colour2" value="option2" checked>
            <label class="form-check-label" for="colour2">
                Black
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="colourOptions" id="colour3" value="option3" checked>
            <label class="form-check-label" for="colour3">
                Red
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="colourOptions" id="colour4" value="option4" checked>
            <label class="form-check-label" for="colour4">
                Blue
            </label>
        </div>
        <!-- Repeat for each size -->
    </div>
</aside>

@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }

    async Task OnAsideCallback(int id)
    {
        if (OnChange.HasDelegate && Service is not null)
        {
            await Service.OnCategoryLinkClick(id);
            await OnChange.InvokeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            await Service.GetLinkGroup();
            await OnChange.InvokeAsync();
        }
    }


    /*public List<LinkGroup> CategoryLinkGroups { get; set; } = new List<LinkGroup>
    {
        new LinkGroup
        {
            Name = "Category",
            LinkOptions = new()
            {
                new LinkOption {Id = 1, Name = "Sedan", IsSelected = false },
                new LinkOption {Id = 2, Name = "SUV", IsSelected = false },
                new LinkOption {Id = 3, Name = "Sport car", IsSelected = false },
                new LinkOption {Id = 4, Name = "Family car", IsSelected = false },
                new LinkOption {Id = 5, Name = "Test category", IsSelected = false }
            }
        }
    };*/
}
