<header class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <img src="Images/logo.png" alt="logo" class="rounded-circle" width="100px" />
        <h1 class="h3 font-weight-bold">Cars eShop</h1>
    </div>
    <div class="text-secondary">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
</header>

@code {

}
