@page "/"

<PageTitle>Home</PageTitle>

<section class="bg-light py-5">

    <div class="container bg-white shadow-lg p-5">
        <HeaderComponent/>

        <div class="row">
            <AsideComponent/>
            <ProductComponent/>
        </div>
    </div>
</section>
