@page "/"
@inject UIService Service

<PageTitle>Home</PageTitle>

<!-- Logo and cart -->
<HeaderComponent UICartService="Service" />
<section id="viewport" class="py-2 vh-100">
    <div class="d-flex shadow-lg p-3 mx-5">
        <CascadingValue Value="Service" Name="Service">
            <!-- Sidebar -->
            <div class="flex-shrink-1 me-4">
                <AsideComponent OnChange="OnChange" />
            </div>
            <!-- Main content -->
                <ProductMainComponent OnChange="OnChange" />
        </CascadingValue>
    </div>
</section>

@code {
    void OnChange()
    {

    }
}
