@if (LinkGroup is not null)
{
    <div class="ps-3">
        <h6 class="font-weight-semibold">@LinkGroup?.Name</h6>
        <ul class="list-unstyled">
            @foreach (var link in LinkGroup!.LinkOptions)
            {
                <LinkComponent LinkOption="link" OnLinkClick="OnLinkPress" />
            }
        </ul>
    </div>
    <span class="border-bottom"></span>
}

@code {
    [Parameter] public LinkGroup? LinkGroup { get; set; }
    [Parameter] public EventCallback<int> OnAsideCall { get; set; }

    void OnLinkPress(int id)
    {
        if (OnAsideCall.HasDelegate)
            OnAsideCall.InvokeAsync(id);
    }
}
