<!-- Main content -->
﻿<main class="d-flex flex-wrap p-3 pt-2 align-items-start">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <span>Showing 1-8 of 40 products</span>
        </div>
    </div>
    <div class="row">
        <!-- Product card -->
        <div class="col-md-3 mb-4" style="min-width: 18rem;">
            <div class="card h-100">
                <img src="Images/car1.png" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">BMW X3</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet est a mollis venenatis.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="min-width: 18rem;">
            <div class="card h-100">
                <img src="Images/car2.png" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Volvo XC60</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet est a mollis venenatis.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="min-width: 18rem;">
            <div class="card h-100">
                <img src="Images/car3.png" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Volvo XC40</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet est a mollis venenatis.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="min-width: 18rem;">
            <div class="card h-100">
                <img src="Images/car4.webp" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Tesla Model S</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet est a mollis venenatis.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4" style="min-width: 18rem;">
            <div class="card h-100">
                <img src="Images/car5.webp" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Tesla Model X</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet est a mollis venenatis.</p>
                </div>
            </div>
        </div>
        <!-- Repeat for each product card -->
    </div>
</main>

@code {

}
