<!-- Main content -->
<main class="col-md-9">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <span>Showing 1-9 of 30 products</span>
        </div>
        <div>
            <select class="custom-select custom-select-sm">
                <option selected>Sort by DEFAULT</option>
                <!-- Repeat for each sort option -->
            </select>
        </div>
    </div>
    <div class="row">
        <!-- Product card -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="Images/car1.png" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">BMW X3</h5>
                    <p class="card-text">$65000.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="Images/car2.png" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Volvo XC60</h5>
                    <p class="card-text">$55000.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="Images/car3.png" alt="Placeholder image for a White Tee" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Volvo XC40</h5>
                    <p class="card-text">$45000.00</p>
                </div>
            </div>
        </div>
        <!-- Repeat for each product card -->
    </div>
</main>

@code {

}
