<main>
    <div class="d-flex mb-3">
        @*Write out how many cars are being shown on the page*@
        <span>Showing @Service?.Products.Count cars</span>
    </div>

    <div class="row d-flex flex-wrap">
        @foreach (var product in Service!.Products)
        {

            <div class="card col-md-3 m-3" style="width: 20rem;">
                <img src="@product.PictureUrl" alt="Placeholder image for a car" class="pt-3 card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h6>@product.Year</h6>
                        <p class="card-text">@product.Description.Truncate(50)</p>
                    </div>
                </div>
            
        }
    </div>
</main>



@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }

    // Set the category to 1 when loading page for first time
    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            Service.CurrentCategoryId = 1;
            await Service.GetProductsAsync();
        }
    }
}
